<?xml version="1.0"?>
<config>    
    <modules>
        <PrintScience_Personalization>
            <version>1.0.18</version>
        </PrintScience_Personalization>
    </modules>
    <frontend>
        <routers>
            <printscience_personalization>
                <use>standard</use>
                <args>
                    <module>PrintScience_Personalization</module>
                    <frontName>personalization</frontName>
                </args>
            </printscience_personalization>
        </routers>
        <layout>
            <updates>
                <printscience_personalization>
                    <file>printscience_personalization.xml</file>
                </printscience_personalization>
            </updates>
        </layout>
        <translate>
            <modules>
                <PrintScience_Personalization>
                     <files>
                          <default>PrintScience_Personalization.csv</default>
                     </files>
                </PrintScience_Personalization>
            </modules>
        </translate>
		<events>
			<checkout_cart_add_product_complete>
				<observers>
					<printscience_personalization_observer>
						<type>singleton</type>
						<class>printscience_personalization/observer</class>
						<method>addToCartComplete</method>
					</printscience_personalization_observer>
				</observers>
			</checkout_cart_add_product_complete>
		</events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <printscience_personalization>
                    <file>printscience_personalization.xml</file>
                </printscience_personalization>
				<basket>
					<file>picker.xml</file>
				</basket>
            </updates>
        </layout>
		<translate>
            <modules>
                <PrintScience_Personalization>
                    <files>
                        <default>PrintScience_Personalization.csv</default>
                    </files>
                </PrintScience_Personalization>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <printscience_personalization>
                <class>PrintScience_Personalization_Model</class>
            </printscience_personalization>
			<checkout>
				<rewrite>
					<cart>PrintScience_Personalization_Model_Override_Checkout_Cart</cart>
				</rewrite>
			</checkout>
			<sales>
				<rewrite>
					<quote>PrintScience_Personalization_Model_Override_Sales_Quote</quote>
				</rewrite>
			</sales>
        </models>
        <helpers>
            <printscience_personalization>
                <class>PrintScience_Personalization_Helper</class>
            </printscience_personalization>
        </helpers>
        <blocks>
            <printscience_personalization>
                <class>PrintScience_Personalization_Block</class>
            </printscience_personalization>
        </blocks>
        <events>
            <controller_action_predispatch>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>checkForCheckoutCartAddAction</method>
                    </printscience_personalization_model_observer>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_product_add_after>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>addOptionsToCartItem</method>
                    </printscience_personalization_model_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_before>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>addOptionsToOrderItems</method>
                    </printscience_personalization_model_observer>
                </observers>
            </sales_order_place_before>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>initGallery</method>
                    </printscience_personalization_model_observer>
                </observers>                
            </controller_action_layout_render_before_checkout_cart_index>
            <controller_action_layout_render_before_checkout_cart_configure>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>initGallery</method>
                    </printscience_personalization_model_observer>
                </observers>                
            </controller_action_layout_render_before_checkout_cart_configure>
            <sales_quote_remove_item>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>endPersonalization</method>
                    </printscience_personalization_model_observer>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_load_after>
                <observers>
                    <printscience_personalization_model_observer>
                        <type>singleton</type>
                        <class>printscience_personalization/observer</class>
                        <method>checkCartItems</method>
                    </printscience_personalization_model_observer>
                </observers>
            </sales_quote_load_after>            
        </events>
        <resources>
            <printscience_personalization_setup>
                <setup>
                    <module>PrintScience_Personalization</module>
                    <class>PrintScience_Personalization_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </printscience_personalization_setup>
            <printscience_personalization_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </printscience_personalization_write>
            <printscience_personalization_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </printscience_personalization_read>
        </resources>
    </global>
    <default>
        <catalog>
            <personalization>
                <api_version>1.0.0</api_version>
            </personalization>
        </catalog>
    </default>
</config>