<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliateplusstatistic>
            <version>0.1.2</version>
        </Magestore_Affiliateplusstatistic>
    </modules>
    <frontend>
    	<events>
        	<affiliateplus_referer_save_after>
        		<observers>
        			<affiliateplusstatistic>
        				<type>singleton</type>
        				<class>affiliateplusstatistic/observer</class>
        				<method>refererSaveAfter</method>
        			</affiliateplusstatistic>
        		</observers>
        	</affiliateplus_referer_save_after>
    	</events>
    </frontend>
    <admin>
        <routers>
			<affiliateplusstatistic>
				<use>admin</use>
				<args>
					<module>Magestore_Affiliateplusstatistic</module>
					<frontName>affiliateplusstatistic</frontName>
				</args>
			</affiliateplusstatistic>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<affiliateplusstatistic>
					<file>affiliateplusstatistic.xml</file>
				</affiliateplusstatistic>
			</updates>
		</layout>
		<translate>
        	<modules>
        		<Magestore_Affiliateplusstatistic>
        			<files>
        				<default>Magestore_Affiliateplusstatistic.csv</default>
        			</files>
        		</Magestore_Affiliateplusstatistic>
        	</modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <affiliateplusstatistic>
                <class>Magestore_Affiliateplusstatistic_Model</class>
                <resourceModel>affiliateplusstatistic_mysql4</resourceModel>
            </affiliateplusstatistic>
            <affiliateplusstatistic_mysql4>
                <class>Magestore_Affiliateplusstatistic_Model_Mysql4</class>
                <entities>
                    <statistic>
                        <table>affiliateplusstatistic</table>
                    </statistic>
                </entities>
            </affiliateplusstatistic_mysql4>
        </models>
        <resources>
            <affiliateplusstatistic_setup>
                <setup>
                    <module>Magestore_Affiliateplusstatistic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliateplusstatistic_setup>
            <affiliateplusstatistic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliateplusstatistic_write>
            <affiliateplusstatistic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliateplusstatistic_read>
        </resources>
        <blocks>
            <affiliateplusstatistic>
                <class>Magestore_Affiliateplusstatistic_Block</class>
            </affiliateplusstatistic>
        </blocks>
        <helpers>
            <affiliateplusstatistic>
                <class>Magestore_Affiliateplusstatistic_Helper</class>
            </affiliateplusstatistic>
        </helpers>
    </global>
    <default>
    	<affiliateplus>
    		<statistic>
    			<charts>1</charts>
    			<ytd_start>1,1</ytd_start>
    			<mtd_start>1</mtd_start>
    		</statistic>
    	</affiliateplus>
    </default>
</config>