<?xml version="1.0"?>
<config>
	<modules>
		<O2TI_Moip>
			<version>0.2.4</version>
		</O2TI_Moip>
	</modules>
	<global>
		<models>
			<moip>
                <class>O2TI_Moip_Model</class>
                <resourceModel>moip_mysql4</resourceModel>
            </moip>
            <moip_mysql4>
                <class>O2TI_Moip_Model_Mysql4</class>
                <entities>
                    <write>
                        <table>o2ti_moip</table>
                    </write>
                </entities>
            </moip_mysql4>
		</models>
		<resources>
			<moip_setup>
				<setup>
					<module>O2TI_Moip</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</moip_setup>
			<moip_write>
				<connection>
					<use>core_write</use>
				</connection>
			</moip_write>
			<moip_read>
				<connection>
                    <use>core_read</use>
                </connection>
			</moip_read>
		</resources>
		<blocks>
			<moip>
				<class>O2TI_Moip_Block</class>
			</moip>
		</blocks>
		<helpers>
			<moip>
				<class>O2TI_Moip_Helper</class>
			</moip>
		</helpers>
		<template>
			<email>
				<o2ti_ordem_tpl module="moip">
					<label>Email da Cancelamento</label>
					<file>statusmail_cancelado_o2ti.html</file>
					<type>html</type>
				</o2ti_ordem_tpl>
			</email>
		</template>
		
	</global>
	<frontend>
		<routers>
			<moip>
				<use>standard</use>
				<args>
					<module>O2TI_Moip</module>
					<frontName>Moip</frontName>
				</args>
			</moip>
		</routers>
		<translate>
			<modules>
				<moip>
					<files>
						<default>moip.csv</default>
					</files>
				</moip>
			</modules>
		</translate>
		<layout>
			<updates>
				<moip>
					<file>o2ti_moip.xml</file>
				</moip>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<O2TI_Moip>
				<use>admin</use>
				<args>
					<module>O2TI_Moip</module>
					<frontName>moip</frontName>
				</args>
			</O2TI_Moip>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<moip>
					<files>
						<default>moip.csv</default>
					</files>
				</moip>
			</modules>
		</translate>
	<layout>
	<updates>
		<moip>
			<file>moip.xml</file>
		</moip>
	</updates>
	</layout>
		
	</adminhtml>
	<crontab>
		<jobs>
			<cancelarBoleto>
				<schedule>
					<cron_expr>00 01 * * *</cron_expr>
				</schedule>
				<run>
					<model>Moip/Orders::cancel</model>
				</run>
			</cancelarBoleto>
		</jobs>
	</crontab>
	<default>
		<payment>
			<o2ti_moip_standard>
				<active>1</active>
				<model>O2TI_Moip_Model_Standard</model>
				<title><![CDATA[Moip]]></title>
				<mensagem_redirect_moip><![CDATA[<p>Seu pedido não foi processado, favor efetuar o pagamento.</p><p>Você será redirecionado para o <b>Moip</b> em alguns instantes.</p>]]>
				</mensagem_redirect_moip>
				<title>Pagamento 100% Seguro - MoIP | Grupo IG</title>
				<order_status>pending</order_status>
				<validador_retorno>qualquervalorsemespacooucaracterespecia13</validador_retorno>
				<validopara_moip>1</validopara_moip>
				<conta_moip>elisei</conta_moip>
				<apelido>Instalação Padrão O2TI | ALTERE PARA O NOME DA SUA EMPRESA</apelido>
				<idgoogle>UA-33860171-1</idgoogle>
				<tipoderecebimento>1</tipoderecebimento>
				<pagamento_direto>1</pagamento_direto>
				<parcelamento>1</parcelamento>
				<parcelamento_c_de1>1</parcelamento_c_de1>
				<parcelamento_c_ate1>12</parcelamento_c_ate1>
				<parcelamento_c_juros1>1.99</parcelamento_c_juros1>
				<jurostipo>1</jurostipo>				
				<parcelamento_s_juros2>1.25</parcelamento_s_juros2>
				<parcelamento_s_juros3>2.49</parcelamento_s_juros3>
				<parcelamento_s_juros4>3.74</parcelamento_s_juros4>
				<parcelamento_s_juros5>4.98</parcelamento_s_juros5>
				<parcelamento_s_juros6>6.23</parcelamento_s_juros6>
				<parcelamento_s_juros7>7.47</parcelamento_s_juros7>
				<parcelamento_s_juros8>8.72</parcelamento_s_juros8>
				<parcelamento_s_juros9>9.96</parcelamento_s_juros9>
				<parcelamento_s_juros10>11.21</parcelamento_s_juros10>
				<parcelamento_s_juros11>12.45</parcelamento_s_juros11>
				<parcelamento_s_juros12>13.70</parcelamento_s_juros12>
				<formas_pagamento>BoletoBancario,DebitoBancario,CartaoCredito</formas_pagamento>
				<nummaxparcelamax>12</nummaxparcelamax>
				<valorminimoparcela>5</valorminimoparcela>
				<vcmentoboleto>3</vcmentoboleto>
				<estoqueboleto>-99</estoqueboleto>
				<ambiente>teste</ambiente>
				<allowspecific>0</allowspecific>
                <sort_order>200</sort_order>
			</o2ti_moip_standard>
		</payment>
	</default>
</config>
