body{
	color:#2F2F2F;
	font:12px/1.55 Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
	width:519px;
	overflow:hidden;
	min-height:300px;
}
a{
	color:#3B5998;
	cursor:pointer;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
img {border:none}
a:visited{
	color:#3B5998;
}
/* Lists */
ul,ol         { list-style:none; }
.wrapper { width:100%; overflow:hidden;min-height:300px;}
.main { margin:0 auto; min-height:400px; padding:25px 25px 80px; text-align:left; }
fieldset      { border:0; }

.facebook-link{
	margin-right:10px;
}

div#search-area {
	border:1px solid #CCCCCC;
	margin-bottom:5px;
}

div#search-nav{
	background-color:#3B5998;
	border:0;
	font-weight:bold;
	padding:5px 5px 5px 7px;
}
div#search-nav a{
	color:#FFFFFF;
	text-decoration:none;
}

div#search-box{
	background-color:#ECEFF6;
	border:0;
	padding:5px 0 5px 5px;
}

#search{
	width: 205px;
	font-size: 12px;
	height: 20px;
	padding:0 5px;
	vertical-align: middle;
	color: #777777;
	position:relative;
	top:-1px;
	*top:-7px;
}

#loading{
	position: relative;
	left: -92px;
	top: 3px;
	z-index: 2;
}
.form-search { position:relative;}
.form-search .authority {
	font-size:10px;
	padding-right:5px;
	position:absolute;
	right:0;
	text-align:right;
	top:5px;
}
.authority a{text-decoration:none;font-weight:bold;font-size:11px;}

a.comment-link{
	text-decoration:none;
}

.pagination span span {
	color:#3B5998;
	cursor: pointer;
	padding: 3px;
}

span.current_page {
	padding: 3px;
}

a{
	color:#3B5998;
}
a:visit{
	color:#3B5998;
}
a:hover{
	cursor:pointer;
}

#right_column{
	float:right;
	margin-left:0;
	width:77%;
}

#toolbar-product{
	height:20px;
}

#sort_order{
	float:left;
	position:relative;
	margin:0;
}
.hmenu{
	float:left;
}

span.current_page {
	padding: 3px;
}
a{
	color:#3B5998;
}


#toolbar-product{
	height:20px;
	width:45%;
}

#sort_order{
	float:left;
	position:relative;
	margin:0;
}
.hmenu{
	float:left;	
}

.pagination{
	float:right;
	margin-top:0;	
}
.pagination a{
	text-decoration:none;
}
.listing-footer {
	background: #EDEFF4;
	height:20px;
	margin-bottom:5px;
	padding: 2px 10px;
	border:1px solid #CCCCCC;
	font-weight:bold;
}
.validation-failed {
background:none repeat scroll 0 0 #FAEBE7 !important;
border:1px dashed #EB340A !important;
}
.validation-advice {
background:url("../images/validation_advice_bg.gif") no-repeat scroll 2px 0 transparent;
clear:both;
color:#EB340A;
font-size:11px;
font-weight:bold;
line-height:13px;
margin:3px 0 0;
min-height:13px;
padding-left:17px;
}
.toolbar{
	float:none;
	margin:5px 0;
}
.product-item {width:150px;margin:14px 0 14px 17px;float:left;position:relative; padding-left:8px}
.product-item .item-bottom{text-align:left;}
.item-first {margin:14px 0px;}

.products-list .product-image{
	display:block;
	margin:5px 10px 5px 5px;
	width:30%;
}
#product-details .product-image{
	display:block;
	margin:5px 10px 5px 5px;
	width:95%;
	float: left;
}
.product-image img{
	border:0;
	padding:10px;
}
.product-right{
	float:right;
	width:68%;
}
.product-info{
	padding-left:5px;
}
.product-title a{
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}

.product-description{
	text-align:justify;
	padding-right:5px;
}
.product-meta{
	padding-bottom:5px;
	margin-top:15px;
}

.product-meta-last{
	border-bottom:0 !important;
}
.product{
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
	margin-top:15px;
}

.product-last{
	border-bottom:0 !important;
}
.price {
    color: #900000;
    font-weight:bold;
    padding:5px 5px 5px 0;
    text-align:left;
}

.special_price {
    color: #0099CC;
    font-weight:bold;
    padding:5px 5px 5px 0;
    text-align:left;
}
.old-price .price { font-weight:bold; font-size:11px; color:#396f00; text-decoration:line-through; }
.share{
	top:-3px;
	position:relative;
}
.message-box{
	border:1px solid #900;
	background:#EFBCBC;
	margin-top:5px;
}
.message-box img{
	float:left;
}
.message-box span{
	color:#666666;
	float:left;
	font-size:13px;
	font-weight:bold;
	margin:5px 0 0 5px;
}

#left_column{
	width:170px;
}

#narrow-option-nav{
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
}
.narrow-option ul li{
	line-height:17px;
	width:100%;
	
}
.menu-li{
	cursor:pointer;
	display:block;
	width:100%;
	border-bottom:1px solid #ECEEF4;
	margin:0;
	padding:0;
}

.parent-menu{
	margin-left:7px;
}
.sub-menu{
	margin-left:15px;
}

.title-menu{
	display:inline-block;
	padding:4px 0;
	position:relative;
	overflow:hidden;
	vertical-align:middle;
	margin:0;
}

.li-hover{
	background:#ECEEF4 !important;
}

.child-li-menu {
	background-color:#F2F2F2;
	color:#333333;
}

.menu-active{
	background-color:#6D84B4;
	float:left;
	display:block;
	color:#fff;
	/* border:1px solid #3B5998; */
	
}

.menu-child{
	background-color:#F2F2F2;
}
.no-display{
	display:none;
}
.menu-active .title-menu{
	color:#fff;
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
	font-size:11px;
}

.parent-li-menu{
	width:100%;
	float:left;
}

.child-menu{
	display:block;
}
.child-li-menu{
	background-color:#F2F2F2;
}
.in-menu-active{
	background-color:#F2F2F2;
	padding-left:2px;
	color:#cccccc;
	border-bottom:1px solid #D6D9DE;
}
.nav-category-head{
	font-size:13px;
	font-weight:bold;
	height:25px;
	border-bottom:1px solid #ECEEF4;
}
#product-detail-image-gallery {
float:left;
margin:5px;
position:relative;
text-align:center;
width:38%;
}
#product-detail-information {
float:left;
overflow:hidden;
width:58%;
}
#product-detail .product-description {
border-top:1px dotted #666666;
margin-top:20px;
}
.product-row {
margin-top:7px;
}
.product-name {
	font-size:15px;
	font-weight:bold;
}
.product-name h1 {
	font-size:16px;
	font-weight:bold;
}
.short-description h2{font-size:15px;}
#product-image {
cursor:pointer;
height:200px;
width:200px;
}
.tab-product-area {
background-color:#F6F6F6;
border-color:-moz-use-text-color #B7C6DC #B7C6DC;
border-right:1px solid #B7C6DC;
border-style:none solid solid;
border-width:0 1px 1px;
clear:both;
overflow:hidden;
padding:0 15px 20px;
}
.tab-product-area h2{margin:2px;font-size:14px;}
.ui-tabs .ui-tabs-panel {
background:none repeat scroll 0 0 transparent;
border-width:0;
display:block;
padding:5px 0 0;
}
.ui-widget-header {
background-color:#FFFFFF;
border-bottom:1px solid #AAAAAA;
color:#222222;
font-weight:bold;
}
#right_column {
float:left;
margin-left:0;
width:100%;
}
.button,
.btn-cart {
background-color:#3B5998;
border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;
border-style:outset;
border-width:1px;
color:#FFFFFF;
cursor:pointer;
line-height:normal !important;
margin-bottom:3px;
padding:2px 10px;
*padding-left: 0px !important;
*padding-right: 0px !important;
text-align:center;
text-decoration:none;
}
.btn-cart:hover, .btn-cart:visited {
color:#FFFFFF;
text-decoration:none;
}
.btn-cart span {
	*padding-left: 0px !important;
	*padding-right: 0px !important;
}
.btn-cart  a{
	color:#FFFFFF;
	text-decoration:none;
}
.button,
.btn-checkout a{
	color:#FFFFFF !important;
	text-decoration:none;
}
.qty {width:30px}
.fb-product-tabs {
border-bottom:1px solid #B7C6DC;
height:25px;
margin:0;
padding:0;
}
.fb-product-tabs li {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#D8DFEA;
border-color:#B7C6DC #B7C6DC -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
display:list-item;
float:left;
font-weight:bold;
height:19px;
margin:0 2px 0 0;
overflow:hidden;
padding:3px 8px;
position:relative;
}
.more-view-gallery {overflow: auto;}
.more-view-gallery .item {float: left; padding: 2px; margin: 2px; border:1px solid #ccc; cursor:pointer;}
.fb-product-tabs .active {
	background-color:#FFFFFF;
}
.hover-tab {background-color:#627AAD;}
.tabs li a:visited {
color:#3B5998;
}
.special_price {
color:#0099CC;
font-weight:bold;
padding-top:2px;
text-align:right;
}
.regular_price {
color:#900000;
font-weight:bold;
padding-top:2px;
text-align:right;
}
.table-product-detail {
border:1px solid #E4E4E4;
margin-top:7px;
width:100%;
}
.td-even {
background-color:#EDEFF4;
}
.td-odd {
background-color:#D8DFEA;
}
.clear {
clear:both;
}
.message-box {
background:none repeat scroll 0 0 #EFBCBC;
border:1px solid #990000;
margin-top:5px;
}
.message-box span {
color:#666666;
float:left;
font-size:13px;
font-weight:bold;
margin:5px 0 0 5px;
}
.message-box img {
float:left;
}
#more-tabs {
margin-top:20px;
}
#product-detail {
border:1px solid #CCCCCC;
clear:both;
margin:10px 0 20px;
overflow:hidden;
padding:10px;
}
#more-view {
/*border-bottom:1px solid;*/
font-size:11px;
margin:0px 10px 5px 0px;
padding-top:10px;
text-align:left;
text-transform:uppercase;
}
#more-information-tabs {
clear:both;
margin-bottom:20px;
overflow:hidden;
}
.add-to-box {
clear:both;
margin:20px 0 10px;
}
#product-custom-options {
background-color:#F6F6F6;
border-color:-moz-use-text-color #EDEFF4 #EDEFF4;
border-right:1px solid #EDEFF4;
border-style:none solid solid;
border-width:0 1px 1px;
clear:both;
overflow:hidden;
padding:0 15px 20px;
}
.div-options {
border-bottom:1px solid #E4E4E4;
clear:both;
overflow:hidden;
padding:15px 0;
width:100%;
}
.div-options-title {
clear:both;
margin-bottom:5px;
width:100%;
}
.div-options-title label {
font-size:12px;
font-weight:bold;
}
.custom-option-price {
color:#996633;
font-weight:bold;
margin-left:20px;
}
.div-options-content {
clear:both;
margin-left:10px;
width:100%;
}
.product-custom-options-footer {
overflow:hidden;
padding:10px 0 30px;
}
.product-public-detail-col {
margin-bottom:5px;
}
.table-product-detail th {
background-color:#CCCCCC;
font-size:12px;
font-weight:bold;
padding:3px 5px;
}
.table-product-detail td {
font-size:12px;
padding:3px 5px;
}
.table-product-detail {
border:1px solid #B7C6DC;
border-spacing:0;
font:12px/1.55 Arial,Helvetica,sans-serif;
width:100%;
}
.table-product-detail th, .table-product-detail td {
border-bottom:1px solid #B7C6DC;
border-right:1px solid #B7C6DC;
}
.last-col {
border-right:0 none !important;
}
.last-row {
border-bottom:0 none !important;
}
.table-header {
background:none repeat scroll 0 0 #D8DFEA !important;
}
.table-product-detail .odd {
background:none repeat scroll 0 0 #F8F7F5;
}
.table-product-detail .even {
background:none repeat scroll 0 0 #EEEDED;
}
.option-validation-fail {
background-color:#FFCCCC;
border:1px dashed darkred;
overflow:hidden;
}
.error {
color:#CC0000;
padding:2px 0 0 10px;
}
#error-grouped-product {
color:#CC0000;
display:none;
margin-top:3px;
}
/* Product Tabs */
.product-tabs { margin-bottom:15px; border-bottom:1px solid #666; background:#f2f2f2 url(../images/bkg_tabs.gif) 0 100% repeat-x; }

.product-tabs li { float:left; border-right:1px solid #a4a4a4; border-left:1px solid #fff; font-size:1.1em; line-height:1em; }

.product-tabs li.first { border-left:0; }

.product-tabs li.last { border-right:0; }

.product-tabs a { display:block; padding:6px 15px; color:#444; }

.product-tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; }

.product-tabs li.active a,

.product-tabs li.active a:hover { background-color:#5D94CC; font-weight:bold; color:#FFF; }

.product-tabs-content { padding:0px 10px 10px; }

.product-tabs-content h2 { font-size:12px; font-weight:bold; }

/* Pager */
.pages {height:20px}
.pages ol { display:inline; }
.pages li { display:inline;}
.pages .current {}

/*Vertical navigation*/


.vertnav-container {
	margin-top:10px;
}
#vertnav{
	margin:0;
	overflow:hidden;
	padding:0;
	width:100%;
}
#vertnav li .vertnav-cat {
	display:block;
	border-bottom:1px solid #ECEEF4;
	padding:3px;
	width:189px;
	text-transform:uppercase;
}

#vertnav ul li:hover {
	background-color:#ECEEF4;
}
#vertnav li a {
	color:#2F2F2F;
}

#vertnav .inactive .vertnav-cat {
	background-color:#FFFFFF !important;
	color:#2F2F2F !important;
}
#vertnav .inactive .vertnav-cat a {
	color:#2F2F2F !important;
}

#vertnav .next .vertnav-cat {
	/*background-color:#DEDEDE;*/
}

#vertnav .prev .vertnav-cat {
	/*background-color:#DEDEDE;*/
}

#vertnav .first .vertnav-cat {
}

#vertnav .last .vertnav-cat {
}

#vertnav .only .vertnav-cat {
}
#vertnav ul {
	padding:0px;
}
#vertnav li.parent .vertnav-cat {
	background-color:#E0E0E0;
	text-transform:uppercase;
}

#vertnav li.active .vertnav-cat {
	
	background-color:#6D84B4;
	
}
#vertnav li.active .vertnav-cat a{
	color:#fff;
}
#vertnav li.inactive .vertnav-cat {
	font-weight:normal;
}

#vertnav .level0 .vertnav-cat {
}
#vertnav .level1,
#vertnav .level2 {
	width:182px;
}
#vertnav .level1 .vertnav-cat {
	padding-left:15px;
	font-size:11px;
	width:182px;
}

#vertnav .level2 .vertnav-cat {
	padding-left:35px;
	width:172px;
}

#vertnav .level3 .vertnav-cat {
	padding-left:30px;
	width:162px;
}
/* Data Table */
.data-table { width:100%; border:1px solid #DDDDDD; }

.data-table .odd  { background:#f8f7f5 }

.data-table .even { background:#eeeded; }

/*.data-table tr.odd:hover,

.data-table tr.even:hover { background:#ebf1f6; }*/

.data-table td.last,

.data-table th.last { border-right:0; }

.data-table tr.last th,

.data-table tr.last td { border-bottom:0 !important; }

.data-table th { padding:3px 8px; font-weight:bold; }

.data-table td { padding:3px 8px; }

.data-table thead th { font-weight:bold; border-right:1px solid #c2d3e0; padding:2px 8px; color:#0a263c; white-space:nowrap; vertical-align:middle; }

.data-table thead th.wrap { white-space:normal; }

.data-table thead th a,

.data-table thead th a:hover { color:#fff; }

.data-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.data-table tfoot { border-bottom:1px solid #d9dde3; }

.data-table tfoot tr.first td { background-color:#dee5e8 !important; }

.data-table tfoot tr { background-color:#dee5e8 !important; }

.data-table tfoot td { padding-top:1px; padding-bottom:1px; border-bottom:0; border-right:1px solid #d9dde3; }

.data-table tfoot strong { font-size:15px; }

.data-table tbody th,

.data-table tbody td { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; }
.coupon-table {}
.coupon-table tbody td {
	padding:3px 8px;
}
/* Mini Products Grid */
.mini-products-grid { width:100%; }
.mini-products-grid td { width:20%; padding:0 8px 8px 0; }
.mini-products-grid .product-image { display:block; border:1px solid #cacaca; margin:0 0 10px; }
.mini-products-grid .product-name { margin:0 0 6px; overflow:hidden; }
.mini-products-grid .product-name a { color:#444; text-decoration:underline; }
.mini-products-grid .product-name a:hover { text-decoration:none; }
.mini-products-grid td.empty {}
.mini-products-grid td.last { padding-right:0; }
.mini-products-grid .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
/* Reset ================================================================================= */
* { margin:0; padding:0; }


/********** < Navigation */
.nav-container { background:#0a263d url(../images/bkg_nav0.jpg) 50% 0 repeat-y; }
#nav { margin:0 auto; padding:0 16px; font-size:13px; width:60%;float:left; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { position:relative; text-align:left; }
#nav li.over { z-index:998; background-color:#6D86B7 }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }
#nav ul li.parent a:hover { color:#fff !important}
#nav ul li.parent li a { background-image:none; }
#nav  li.parent .over a {}
/* 0 Level */
#nav li { float:left; }
#nav li.active a { }
#nav a { float:left; padding:5px 12px 6px 8px; color:#FFFFFF; font-weight:bold; }
#nav li.over a { }
#nav li.over a:hover { color:#fff; }

/* 1st Level */
#nav ul li,
#nav ul li.active { float:none; margin:0; padding-bottom:1px; background:#EDEFF4 url(../images/bkg_nav1.gif) 0 100% repeat-x; }
#nav ul li.last { background:#EDEFF4; padding-bottom:0; }

#nav ul a {float:none; padding:0;}
#nav ul a:hover { float:none; padding:0; background:none; color:#fff !important;}
#nav ul li a { font-weight:normal !important; color:#3B5998 !important;}

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:15em; top:30px; left:-10000px;}
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; }

#nav ul li a { background:#EDEFF4 url(../images/bkg_nav1.gif) 0 100% repeat-x;}
#nav ul li a:hover { background:#3B5998; }
#nav ul li a,
#nav ul li a:hover { color:#fff}
#nav ul span,
#nav ul li.last li span { padding:3px 15px 4px 15px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:9999; color:#3B5998; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:160px; }
/********** Navigation > */
/* ======================================================================================= */

#headNav {
background-color:#627AAD;
border-color:#1D4088 #1D4088 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
height:30px;

}
#headNav .cart {float:right; text-align:right; padding:3px 10px 0px 0px; color:#fff; font-weight:bold;}
#headNav .cart a {color:#fff;}
/* Shopping Cart Table */
.cart-table th { padding:2px 10px; }
.cart-table td { padding:10px; }
.cart-table .product-name { font-weight:bold; margin:0 0 5px; color:#2f2f2f; }
.cart-table .item-msg { margin:5px 0; font-size:11px; font-weight:bold; color:#df280a; }
.cart-table tfoot td { padding:5px 10px; }
.cart-table .btn-continue { float:left; }
.cart-table .btn-continue span,
.cart-table .btn-update span { border-color:#406a83; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding:25px 0 0; }
.cart .cart-collaterals .col2-set { float:left; width:290px;  }
.cart .cart-collaterals .col2-set .col-2 { width:290px; }

.cart .crosssell { border:1px solid #cec3b6; background:#fafaec; padding:12px 15px; }
.cart .crosssell h2 { font-size:13px; font-weight:bold; }
.cart .crosssell .product-image { float:left; width:75px; height:75px; border:1px solid #d0cdc9; }
.cart .crosssell .product-details { margin-left:90px; }
.cart .crosssell .product-name { font-weight:bold; }
.cart .crosssell li.item { margin:12px 0; }
.cart .crosssell .link-compare { font-weight:normal; }

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount,
.cart .shipping { border:1px solid #d0cbc1; background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; padding:12px 15px; margin:0 0 18px; }
.cart .discount h2,
.cart .shipping h2 { background-position:0 0; background-repeat:no-repeat; font:bold 13px/16px Arial, Helvetica, sans-serif; padding:0 0 0 21px; color:#3B5998; text-transform:uppercase; }
.cart .discount button span,
.cart .shipping button span { border-color:#406a83; }
.cart .discount .buttons-set,
.cart .shipping .buttons-set { margin:10px 0 0; border:0; padding:0; text-align:left; }
.cart .discount .buttons-set button.button,
.cart .shipping .buttons-set button.button { float:none; margin-left:0; }

.cart .discount h2 { background-image:url(../images/i_discount.gif); }
.cart .discount .input-box { margin:8px 0 0; width:260px; }
.cart .discount input.input-text { width:254px; }

.cart .shipping h2 { background-image:url(../images/i_shipping.gif); }
.cart .shipping .sp-methods { margin:10px 0 0; padding:5px 0 0; background:url(../images/bkg_divider1.gif) 0 0 repeat-x; }
.cart .checkout-types {margin:2px 0px 10px }

/* Shopping Cart Totals */
.cart .totals { 
	 float:right; 
	 border:1px solid #bebcb7;
	 width:210px;
	 padding-right:5px;
	 background:url("../images/bkg_block-title.gif") repeat-x scroll 0 0 #FFFFFF;
 }
.cart .totals table { width:100%; margin:7px 0; }
.cart .totals td { padding:1px 15px 1px 7px; }
.cart .totals tr.last td {}
.cart .totals tfoot th { padding:5px 15px 5px 7px; }
.cart .totals tfoot td { padding-top:5px; padding-bottom:5px; }
.cart .totals tfoot th strong,
.cart .totals tfoot td strong { font-size:15px; }
.cart .totals .checkout-types { font-size:13px; padding:0px 15px 3px; text-align:right; }
.cart .totals .checkout-types li { clear:both; margin:10px 0; }
.cart select{width:220px;}
.data-table thead th {
	background:url("../images/bkg_th.gif") repeat-x scroll 0 100% #D9E5EE;
}
styles.css (line 384)
.data-table thead th {
	border-right:1px solid #C2D3E0;
	color:#0A263C;
	font-weight:bold;
	padding:2px 8px;
	vertical-align:middle;
	white-space:nowrap;
}

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:13px; color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt { font-size:13px; font-weight:bold; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#eee; border:1px solid #a3aeb3; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#d0dce1; color:#5e8ab4; }
.block-progress dd.complete {}
.block-progress p { margin:0; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc .step-title { border-width:0 1px; border-style:solid; border-color:#fff #d9dde3 #d9dde3; background:#eee url(../images/bkg_opc-title-off.gif) 0 100% repeat-x; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; color:#999; }
.opc .step-title h2 { float:left; margin:0; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#999; }
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title { background:#d0dce1; border:1px solid #a3aeb3; border-bottom:0; color:#a4b3b9; cursor:pointer; }
.opc .allow .step-title .number { background:#dbe6eb; border-color:#dbe6eb; color:#a4b3b9; }
.opc .allow .step-title h2 { color:#a4b3b9; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title { background:#627AAD; border:1px solid #bbafa0; padding-bottom:5px; color:#f18200; cursor:default; }
.opc .active .step-title .number { background:#f18200; border-color:#f19900; color:#fff; }
.opc .active .step-title h2 { color:#3B5998; }
/*.opc .active .step-title a { display:none; }*/

.opc .step { border:1px solid #bbafa0; border-top:0; background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
h1 {color:#3B5998;}
/* Content Columns */
.col2-set {width:97%}
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */


p.control input.checkbox,
p.control input.radio { margin-right:6px; }
/* Form Highlight */
input.input-text:focus,select:focus,textarea:focus { background-color:#edf7fd; }
/*.highlight { background:#efefef; }*/

/* Form lists */
/* Grouped fields */
/*.form-list { width:535px; margin:0 auto; overflow:hidden; }*/
.form-list li { margin:0 0 8px;}
.form-list label { float:left; color:#666; font-weight:bold; position:relative; z-index:0; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
/*.form-list li.fields { margin-right:-15px; }*/
.form-list .input-box { display:block; clear:both; width:250px; }
.form-list .field { float:left; width:220px; }
.form-list input.input-text { width:200px; }
.form-list textarea { width:200px; height:10em; }
.form-list select { width:200px; }
.form-list li.wide .input-box { width:420px; }
.form-list li.wide input.input-text { width:420px; }
.form-list li.wide textarea { width:420px; }
.form-list li.wide select { width:420px; }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }
/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { width:auto; }

.form-list .name-prefix { width:65px; }
.form-list .name-prefix select { width:55px; }
.form-list .name-prefix input.input-text { width:49px; }

.form-list .name-suffix { width:65px; }
.form-list .name-suffix select { width:55px; }
.form-list .name-suffix input.input-text { width:49px; }

.form-list .name-middlename { width:70px; }
.form-list .name-middlename input.input-text { width:49px; }

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { width:140px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { width:124px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { width:210px; }

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { width:205px; }

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { float:left; width:85px; }
.form-list .customer-dob input.input-text { display:block; width:74px; }
.form-list .customer-dob label { font-size:10px; font-weight:normal; color:#888; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { width:60px; }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { width:46px; }
.form-list .customer-dob .dob-year { width:140px; }
.form-list .customer-dob .dob-year input.input-text { width:134px; }


/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.link{float:right;text-align:right;padding:0px 0px 5px 0px;}
.link a:hover{text-decoration:none;}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
background-color:#EEEEEE;
background-image:url("../images/fb-bg-image.png");
background-position:0 0;
background-repeat:no-repeat;
border-color:#999999 #999999 #888888;
border-style:solid;
border-width:1px;
cursor:pointer;
display:inline-block;
font-size:11px;
font-weight:bold;
line-height:normal !important;
padding:2px 6px;
text-align:center;
text-decoration:none;
vertical-align:top;
white-space:nowrap;
}
.uiButton .uiButtonText, .uiButton input {
background:none repeat scroll 0 0 transparent;
border:0 none;
color:#333333;
cursor:pointer;
display:inline-block;
font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
font-size:11px;
font-weight:bold;
margin:0;
outline:medium none;
padding:1px 0 2px;
white-space:nowrap;
}
/* ======================================================================================= */
.messages {
	overflow:hidden;
	width:100%;
}
.messages, .messages ul {
	list-style:none outside none !important;
	margin:0 !important;
	padding:0 !important;
}
.messages li {
	margin:0 0 10px !important;
}

.success-msg {
	background-color:#EFF5EA;
	background-image:url("../images/i_msg-success.gif");
	border-color:#446423;
	color:#3D6611;
}
.error-msg {
	background-color:#FAEBE7;
	border-color:#F16048;
	color:#DF280A;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
	background-position:10px 9px !important;
	background-repeat:no-repeat !important;
	border-style:solid !important;
	border-width:1px !important;
	font-size:11px !important;
	font-weight:bold !important;
	min-height:24px !important;
	padding:8px 8px 8px 32px !important;
}
.notLikedStoreMessage .makeALater {
	background:none repeat scroll 0 0 #F4FAF0;
	border-color:#66A94A -moz-use-text-color;
	border-style:solid none;
	border-width:1px medium;
	color:#66A94A;
	display:block;
	font-weight:bold;
	height:34px;
}
.notLikedStoreMessage .notLikedImage {
	background:url("../images/like-for-discounts.png") no-repeat scroll center 1px transparent;
	display:block;
	float:left;
	height:44px;
	margin-left:10px;
	margin-top:-10px;
	width:87px;
}
.notLikedStoreMessage .notLikedMessage {
	display:block;
	float:left;
	margin-top:10px;
	text-align:center;
	width:420px;
}
.couponList {padding:5px;}
.clearfix {width:100%; clear:both}
.home-page-text {margin:5px 0px; padding:5px; border:1px solid #CCC;}
.products-grid { border-bottom:1px solid #d9ddd3; background:url(../images/fb_bkg_grid.gif) 0 0 repeat; position:relative; }
.products-grid.last { border-bottom:0; }
.products-grid li.item { float:left; width:150px; padding:12px 10px 50px; }
.products-grid li.item.last { float:left; width:150px; padding:12px 10px 50px 20px; }
.products-grid .product-image { display:block; width:135px; height:135px; margin:0 0 10px; }
.products-grid .product-name { /*min-height:2.7em;*/ margin:0 0 5px; font-weight:bold; font-size:13px; color:#203548; }
.products-grid .product-name a { color:#203548; }
.products-grid .price-box { margin:5px 0; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { position:absolute; bottom:12px; }
.products-grid p {float:left;}
#products-list {border:1px solid #CCCCCC;}
#products-grid {border:1px solid #CCCCCC;}