ul.form-list{clear:both;}
ul.form-list .wide > div.input-box > select{width: 100% !important;}
ul.form-list .wide.cc-cvv > div{display: block;float: left;}
ul.form-list .wide.cc-cvv > div.cc{width: 60% !important;}
ul.form-list .wide.cc-cvv > div.cvv{width: 20% !important;margin-left: 10% !important;}
ul.form-list .wide.cc-validade > div > select{ margin: 0 !important;width: 35% !important;margin-left: 5% !important;float: left;}
ul.form-list .wide.cc-validade > div > select#credito_expiracao_mes{margin: 0 !important;}

ul.form-list.dados-titular > li > label{clear: none !important; width: 105px;float: left !important;padding-top: 5px;}
ul.form-list.dados-titular > li > div{ width: 50% !important;clear: none !important; float: left;}
#formcli > ul > li > label > em {right: 2px !important;}
ul.inline li{float: left;width: 30%;margin-right: 2%; text-align: center;}
ul.inline li img{width: 100%; height: auto; clear: both; display: block;margin-bottom: 5px;}

.moip-payment-method-content{display: none;clear: both; width: 1005;}

ul.inline.input-switcher-4 > li{width: 23%}
ul.inline.input-switcher-5 > li{width: 18%}

.tooltip-moip-handler{position: relative !important;}
.tooltip-moip{display: none;position: absolute; right: 0px;top: auto;background: #cccccc;padding: 20px;border-radius: 10px;min-width:  245px;box-shadow: 0 0 10px #000;z-index:999;}
.tooltip-moip-handler:hover .tooltip-moip{display: block;}
.span3.method-image > img {float: right;margin-right: 15px;margin-top: 25px;}
