.o2ti-osc-block-content{padding:12px;border: 1px solid #ccc;border-radius: 0 0 5px 5px}
.o2ti-osc-block-contentb{border: 1px solid #ccc;border-radius: 0 0 5px 5px}
.form-list .field{width: 43% !important;float:left;margin-right: 7%;}
.form-list .wide{width: 93%;clear:both;}
.form-list .input-box{width: 100% !important;}
.form-list .field .input-box{width: 100% !important;padding-right: 40px;}
.field.dob .field{width:100%;}
input[type="checkbox"]{float: left; cleaR: none;margin-right: 10px;margin-top:2px}
.form-list input[type="text"],.form-list input[type="password"] , .form-list select{width: 100% !important;}
.sp-methods dt, .sp-methods dd{width: 100%; clear: both;}
.sp-methods dt input[type="radio"]{floaT:left;}
.sp-methods dt label{margin-top: 0px;display: block;float: left;margin-left:10px}
.input-text.qty{text-align:center;border-radius: 5px}
#loginbox{float: left;margin-bottom: 10px;}
#loading-mask{position: fixed;top: 0; left: 0;width: 100%; height: 100%; display: none;}
#loading-mask > p{box-shadow: 0 0 10px #666666;border:1px solid blue;background: #fff; width: 290px; text-align: center; padding: 20px;border-radius: 10px;position:absolute; left: 50%;top: 10%;margin-left: -165px;}
.o2ti-osc-block-title > h3 {padding-top: 5px;}
textarea {max-width: 280px;min-width: 280px;overflow: auto;}
.sp-methods .form-list {padding-left: 0px;}
tr {border-top: 1px solid #CCCCCC;}
#none {float:left}
.main {
padding: 0;
min-height: 370px;
}
#checkout-review-table-wrapper {
overflow-x: visible !important;
}
#co-billing-form{clear:both;}
.update_shipping, .update_payment {width: 150px; margin: 0 auto; text-align: center; font-size: 14px; min-height: 115px; padding-top: 50px;}
#co-payment-form {min-height: 150px !important;}
#advice-required-entry-id_accept_terms{position:relative !important;}
.sp-methods .form-list {padding-left: 0px !important;}