<?xml version="1.0"?>
<config>
    <modules>
        <OnlineBiz_Facebookstore>
            <version>4.1.0</version>
        </OnlineBiz_Facebookstore>
    </modules>
    <frontend>
        <routers>
            <facebookstore>
                <use>standard</use>
                <args>
                    <module>OnlineBiz_Facebookstore</module>
                    <frontName>facebookstore</frontName>
                </args>
            </facebookstore>
        </routers>
        <layout>
            <updates>
                <facebookstore>
                    <file>onlinebizsoft/facebookstore.xml</file>
                </facebookstore>
            </updates>
        </layout>
		<translate>
            <modules>
                <OnlineBiz_Facebookstore>
                    <files>
                        <default>OnlineBiz_Facebookstore.csv</default>
                    </files>
                </OnlineBiz_Facebookstore>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <menu>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebookstore translate="title">
                                            <title>Facebook Shop Publisher</title>
                                            <sort_order>50</sort_order>
                                        </facebookstore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <facebookstore>
                    <file>onlinebizsoft/facebookstore.xml</file>
                </facebookstore>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <facebookstore>
                <class>OnlineBiz_Facebookstore_Model</class>
            </facebookstore>
        </models>
        <resources>
            <facebookstore_setup>
                <setup>
	               <module>OnlineBiz_Facebookstore</module>
	               <class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </facebookstore_setup>
        </resources>
        <blocks>
            <facebookstore>
                <class>OnlineBiz_Facebookstore_Block</class>
            </facebookstore>
        </blocks>
        <helpers>
            <facebookstore>
                <class>OnlineBiz_Facebookstore_Helper</class>
            </facebookstore>
        </helpers>
		<events>
			<controller_front_send_response_before>
				<observers>
					<facebookstore_observer_controller_front_send_response_before>
						<type>singleton</type>
						<class>facebookstore/observer</class>
						<method>setResHeader</method>
					</facebookstore_observer_controller_front_send_response_before>
				</observers>
			</controller_front_send_response_before>
			<checkout_type_onepage_save_order_after>
				<observers>
					<facebookstore_observer_checkout_type_onepage_save_order_after>
						<type>singleton</type>
						<class>facebookstore/observer</class>
						<method>postWallAffterCheckOut</method>
					</facebookstore_observer_checkout_type_onepage_save_order_after>
				</observers>
			</checkout_type_onepage_save_order_after>
			<!--
			<controller_action_layout_load_before>
                <observers>
                    <facebookstore_init_observer>
                        <class>facebookstore/observer</class>
                        <method>addLayoutHandle</method>
                    </facebookstore_init_observer>
                </observers>
            </controller_action_layout_load_before>
			-->
			<controller_front_init_before>
                <observers>
                    <facebookstore_observer_controller_front_init>
                        <type>singleton</type>
                        <class>facebookstore/observer</class>
                        <method>controller_front_init_before</method>
                    </facebookstore_observer_controller_front_init>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
	<default>
        <facebookstore>
            <general>
                <frontend_per_page_values>6</frontend_per_page_values>
                <fanpage_mode>2</fanpage_mode>
				<checkout_enabled>0</checkout_enabled>
				<category_root_id>0</category_root_id>
            </general>
			<connect>
				<locale>en_US</locale>
				<enabled>0</enabled>
			</connect>
			<postwall>
				<enabled>0</enabled>
				<template_message_place_order>I have just perchased {product_quantity} items(s) at {store_link} </template_message_place_order>
				<template_description_place_order>Product {product_name}, price:{product_price} {product_link}</template_description_place_order>
				<post_image>0</post_image>
				<post_to_fiends>0</post_to_fiends>
			</postwall>
			<register>
				<enabled>0</enabled>
				<template_message_connect_via_facebook>I have just joined to {store_link}</template_message_connect_via_facebook>
			</register>
			<invite_friend>
				<enabled>0</enabled>
				<template_message>Hey friend, I found this site very interesting? Would you like to check {store_link} out?</template_message>
			</invite_friend>
			<like_discount>
				<enabled>0</enabled>
			</like_discount>
			<homepage>
				<display_type>random</display_type>
			</homepage>
         </facebookstore>   
    </default>
</config>